<span style="font-size: 36px;">W4111_Fall_2024_003 - Introduction to Databases:<br>Homework 3B<br>Game of Thrones Data and IMDB</span>

# Overview

The non-programming track builds data insight/support notebook for HW4b and the programming track builds a simple full stak web application. Provide the data model the applications need requires more processing after the initial load. HW3b is common to both tracks and provides the data for the final practical HW. The final data model/database has information in three separate databases:
1. MySQL
2. Neo4j
3. MongoDB

The conceptual data model is:

| <img src="conceptual_data_model.jpg" > |
| :---: |
| __Conceptual Data Model__ |

In the data load setup notebook, we "loaded data." In this notebook, we process, cleanup and link the data. This is necessary for the data insight and operational applications. __Note: I provide the DDL or definition for the "to be" tables, etc.__

| <img src="data-janitor.jpg" > |
| :---: |
| __The Janitor__ |

The sections and subsections below will:
1. Explain the entities and relationships.
2. Explain the data engineering tasks.
3. Provide a lot of helper code and provide some tests you can run while doing the work.


__Code cells that students must complete contain a comment of the form "#TODO Student."__

# Initialize Environment

__Execute the cells in this section. The cells are the same as from the data loading notebook I prepared for you.__

## General Python Packages

In [3]:
import copy

In [4]:
import json

In [5]:
import pandas

In [6]:
# You should have installed the packages for previous homework assignments
#
import pymysql
import sqlalchemy

In [7]:
# You may have to do %pip installs to use the packages below.
#
# %pip install "pymongo[srv]"
#
import pymongo

In [8]:
# You may have to do %pip installs to use the packages below.
#
# %pip install neo4j
#
import neo4j

In [9]:
import numpy

## MySQL

### ipython-sql

In [10]:
# You have installed and configured ipython-sql for previous assignments.
# https://pypi.org/project/ipython-sql/
#
%load_ext sql

In [11]:
# Make sure that you set these values to the correct values for your installation and 
# configuration of MySQL
#
db_user = "root"
db_password = "dbuserdbuser"

In [12]:
# Create the URL for connecting to the database.
# Do not worry about the local_infile=1, I did that for wizard reasons that you should not have to use.
#
db_url = f"mysql+pymysql://{db_user}:{db_password}@localhost?local_infile=1"

In [13]:
# Initialize ipython-sql
#
%sql $db_url

In [14]:
# Your answer will be different based on the databases that you have created on your local MySQL instance.
#
%sql show databases

 * mysql+pymysql://root:***@localhost?local_infile=1
23 rows affected.

[('classicmodels',),
 ('columbia_model',),
 ('course_management',),
 ('course_student_coupons',),
 ('courseworks_videos',),
 ('db_book',),
 ('F24_examples',),
 ('f24_GoT',),
 ('f24_imdb_clean',),
 ('F24_IMDB_Raw',),
 ('f24_imdb_raw_new',),
 ('f24_project',),
 ('fitness',),
 ('hw3b4bSolution',),
 ('import_web_data',),
 ('information_schema',),
 ('lahmansbaseballdb',),
 ('lor_data',),
 ('mysql',),
 ('p1_database',),
 ('performance_schema',),
 ('sys',),
 ('testdb',)]

### PyMySQL

In [15]:
default_mysql_conn = pymysql.connect(
    user=db_user,
    password=db_password,
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True
)

In [16]:
def get_mysql_con(
    user=db_user,
    password=db_password,
    host="localhost",
    port=3306,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True):

    result = pymysql.connect(
        user=db_user,
        password=db_password,
        host="localhost",
        port=3306,
        cursorclass=pymysql.cursors.DictCursor,
        autocommit=True
    )

    return result

In [17]:
cur = default_mysql_conn.cursor()

result = cur.execute("show databases;");
result = cur.fetchall()
result_df = pandas.DataFrame(result)
result_df

                  Database
0            classicmodels
1           columbia_model
2        course_management
3   course_student_coupons
4       courseworks_videos
5                  db_book
6             F24_examples
7                  f24_GoT
8           f24_imdb_clean
9             F24_IMDB_Raw
10        f24_imdb_raw_new
11             f24_project
12                 fitness
13          hw3b4bSolution
14         import_web_data
15      information_schema
16       lahmansbaseballdb
17                lor_data
18                   mysql
19             p1_database
20      performance_schema
21                     sys
22                  testdb

### SQLAlchemy

In [18]:
from sqlalchemy import create_engine
default_engine = create_engine(db_url)

In [19]:
result_df = pandas.read_sql(
    "show databases", con=default_engine
)
result_df

                  Database
0            classicmodels
1           columbia_model
2        course_management
3   course_student_coupons
4       courseworks_videos
5                  db_book
6             F24_examples
7                  f24_GoT
8           f24_imdb_clean
9             F24_IMDB_Raw
10        f24_imdb_raw_new
11             f24_project
12                 fitness
13          hw3b4bSolution
14         import_web_data
15      information_schema
16       lahmansbaseballdb
17                lor_data
18                   mysql
19             p1_database
20      performance_schema
21                     sys
22                  testdb

## MongoDB Atlas

In [ ]:
# TODO Student -- This should be the same as what you provided in the data loading notebook
#
# You will need to replace with your settings.
#
mongodb_pw=""
mongodb_user=""

In [ ]:
# TODO Student -- This should be the same as what you provided in the data loading notebook
#
# You can get the URL and info below from looking at the connect instructions for you MongoDB Atlas instance.
#
mongo_db_url = f"mongodb+srv://{mongodb_user}:{mongodb_pw}@cluster0.t8qdk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [ ]:
mongo_client = pymongo.MongoClient(mongo_db_url)

In [ ]:
# Your list of databases will be different.
#
list(mongo_client.list_databases())

## Neo4j

In [ ]:
# TODO Student -- This should be the same as what you provided in the data loading notebook

# You need to have created a Neo4j Aura DB with a user ID and information.
# Please make sure you copied the information for connecting.
# You can download this information when you create your instance.
# The download will be a text file with the information below.
# You will have to modify the file you download to wrap the strings with "
#
NEO4J_URI=""
NEO4J_USERNAME=""
NEO4J_PASSWORD=""
AURA_INSTANCEID=""
AURA_INSTANCENAME=""

In [ ]:
from neo4j import GraphDatabase

# URI examples: "neo4j://localhost", "neo4j+s://xxx.databases.neo4j.io"
URI = NEO4J_URI
AUTH = (NEO4J_USERNAME, NEO4J_PASSWORD)

with GraphDatabase.driver(URI, auth=AUTH) as driver:
    driver.verify_connectivity()

__Note:__ You should have already created a Neo4j account and loaded the Movie Database.

In [ ]:
# The following code assumes that you followed the tutorial for the Movie Database and loaded the data.
#
with GraphDatabase.driver(URI, auth=AUTH) as driver:
    # driver.verify_connectivity()
    
    records, summary, keys = driver.execute_query(
        "MATCH (p:Person) where p.name='Tom Hanks' RETURN p.name AS name, p.born as birth_year ",
    )
    
    # Loop through results and do something with them
    # There is probably an easier way to do this.
    #
    person_records = []
    for person in records:
        new_p = dict(person)
        person_records.append(new_p)
    
    # Summary information
    print("The query `{query}` returned {records_count} records in {time} ms.".format(
        query=summary.query, records_count=len(records),
        time=summary.result_available_after,
    ))

In [ ]:
results_df = pandas.DataFrame(person_records)
results_df.head(10)

# IMDB

## Overview

__You should have created f24_project during data loading.__

In [ ]:
%sql use f24_project;

In [ ]:
%sql show tables;

These tables need scheme improvement. The improvements involve changes to individual tables, splitting tables and linking tables. In the larger, original datasets, indexes are crucial. This is less of an issue in the reduced dataset, but we should create indexes anyway.

We will start improving and refactoring individual tables.

## name_basics

In [ ]:
%sql select * from name_basics limit 10;

There are four obvious problems with this schema:
1. ```primaryName``` is not an atomic domain.
2. ```primaryProfession``` is a multi-valued attribute, and the attribute values come from a fixed domain. The values are not arbitrary strings. "Canary" and "Battleship" are not professions in this context.
3. ```knownForTitles``` is also multi-valued and also has a foreign key dependency on other tables.
4. ```birthYear``` and ```deathYear``` are floats/doubles because we used Pandas for import, and Pandas import "detects" numbers.

Our first tasks are ```primaryName, primaryProfession, birthYear``` and ```deathYear.``` We are not going to use ```knownForTitles``` in the project or homeworks.

A little examination of ```primaryName``` indicates that the format is complex and may have middle names, nicknames, titles, ... ... This is hard to fix in SQL or stored procedures. So, we will use a heuristic library -- [nameparser.](https://pypi.org/project/nameparser/)

In [ ]:
#
# %pip install nameparser
#
from nameparser import HumanName

In [ ]:
funny_name = "Dr. Donald F. (Snowball) Ferguson, III"

In [ ]:
cool_name = HumanName(funny_name)

In [ ]:
cool_name.as_dict()

The following is an improvement in the table schema that is ["good enough for government work."](https://en.wiktionary.org/wiki/close_enough_for_government_work)

%%sql

drop table if exists f24_project.name_basics_fixed;

create table if not exists f24_project.name_basics_fixed
(
    nconst      varchar(16) not null
        primary key,
    title       varchar(32) null,
    first_name  varchar(64) null,
    middle_name varchar(64) null,
    last_name   varchar(64) not null,
    suffix      varchar(32) null,
    nickname    varchar(64) null,
    birth_year  int         null,
    death_year  int         null,
    constraint check_name
        check ((`death_year` >= `birth_year`) or (`death_year` is null) or (`birth_year` is null))
);

create index name_basics_fixed_last_name_first_name_index
    on f24_project.name_basics_fixed (last_name, first_name);

The first task is to heuristically fix ```primaryName``` and load into ```name_basics_fixed```

In [ ]:
# TODO Student -- Students must implement this function.
#
def insert_name_basics_fixed(nconst, last_name,
                             title=None, first_name=None, middle_name=None, suffix=None, nickname=None,
                             birth_year=None, death_year=None):
    """
    The input are the column values for the name_basics_fixed table. The function does the insert.
    :param nconst: IMDB nconst from name_basics
    :param last_name: Last name value from HumanName
    :param title: Title value from HumanName
    :param first_name: First name value from HumanName
    :param middle_name: Middle name value from HumanName
    :param suffix: Suffix value from HumanName
    :param nickname: Nickname value from HumanName
    :param birth_year: birthYear from name_basics
    :param death_year: deathYear from name_basics
    :return:The number of rows inserted, which should 1.
    """

    # The number of rows inserted.
    result = 0

    # TODO Student -- Your code goes here.



    
    return result

The following is a simple test of the function you implemented above.

In [ ]:
try:
    result = insert_name_basics_fixed(
        "nm999",
        "Ferguson",
        "Dr.", "Donald", "F.", "III", "Snowball",
        1920, 2000)
    print("Insert result = ", result)
except Exception as e:
    print("Oops, e = ", e)

In [ ]:
%sql select * from name_basics_fixed where last_name="Ferguson"

In [ ]:
# Let's get rid of the test data.
#
%sql delete from f24_project.name_basics_fixed where nconst="nm999";

The following function will load the fixed table from the original table. It calls the function you wrote above.

In [ ]:
def load_name_basics_fixed(delete_existing_data=False):
    """
    This function loads name_basics_fixed by calling the previous function insert_name_basics_fixed. If delete_existing_data is True,
    the function deletes the existing rows before inserting the new rows.
    """

    if delete_existing_data:
        # Note that the "%sql" only works in an ipython-note and does not work in python in general.
        # Things like %xyz are notebook magics.
        #
        %sql delete from name_basics_fixed;

    # The with xxx() is common in python for connections, opening files, ... ...
    # Python automatically calls close() when the code exits the with block.
    #
    with get_mysql_con() as con:
        
        cursor = con.cursor()

        # This statement will query the original name_basics and produce a result set. Since it used a cursor,
        # the result is a cursor on the query result set. The data does not transfer from the DBMS to the python
        # runtime until you fetch the data. This is the behavior of cursors.
        #
        # The code casts the dates from float to unsigned, which is a funny way to say integer.
        #
        # It turns out that either the original data or the subsetting work to prepare the data
        # created duplicates. So, we use distinct.
        #
        sql = """
            select distinct 
                nconst, primaryName, cast(birthYear as unsigned) as birthYear, cast(deathYear as unsigned) as deathYear,
                primaryProfession, knownForTitles
                from f24_project.name_basics
        """

        # Execute the query and position the cursor.
        no_of_rows = cursor.execute(sql)

        # Count the number of rows inserted.
        rows_inserted = 0

        # We have used fetchall() in examples. This gets all of the data from the DBMS and loads into the
        # calling application. If the result set is huge, this call can swamp the network, calling application,
        # ... Since the notebook display is in a browser, huge datasets will cause the browser to lock up or crash.
        # So, we are going to "page through the result" and fetch in chunks.
        #
        done = False
        while not done:

            # Fetch a page of rows.
            the_names = cursor.fetchmany(20)

            # For each row in the page.
            for t in the_names:

                # Heuristically map the primaryName to the new format.
                #
                mapped_name = HumanName(t['primaryName']).as_dict()
                to_insert = dict()
                to_insert['title'] = mapped_name.get('title', None)
                to_insert['first_name'] = mapped_name.get('first', None)
                to_insert['middle_name'] = mapped_name.get('middle', None)
                to_insert['last_name'] = mapped_name.get('last', None)
                to_insert['suffix'] = mapped_name.get('suffix', None)
                to_insert['nickname'] = mapped_name.get('nickname', None)

                # Insert the row into name_basics_fixed in the new format.
                # "result" will be the number of rows inserted.
                try:
                    result = insert_name_basics_fixed(
                        t['nconst'],
                        to_insert['last_name'],
                        to_insert['title'],
                        to_insert['first_name'],
                        to_insert['middle_name'],
                        to_insert['suffix'],
                        to_insert['nickname'],
                        t['birthYear'],
                        t['deathYear']
                    )
                except Exception as e:
                    print("Exception happened, e = ", "\nfor row", t)

                # If we did not insert one row, something happened.
                if result != 1:
                    print("Something weird happened with ", t)

                # Count the number of rows inserted.
                rows_inserted += result

            # If we did not get a full page of data, we processed the last page.
            if len(the_names) < 20:
                done = True

        print("Read ", no_of_rows, "Inserted", rows_inserted)

In [ ]:
# Call the function.
load_name_basics_fixed(delete_existing_data=True)

In [20]:
# TODO Student. Test the load.
#
%sql use f24_project;

%sql select * from name_basics_fixed limit 10;

 * mysql+pymysql://root:***@localhost?local_infile=1
0 rows affected.
 * mysql+pymysql://root:***@localhost?local_infile=1
10 rows affected.

[('nm0000293', '', 'Sean', '', 'Bean', '', '', 1959, None),
 ('nm0000596', '', 'Jonathan', '', 'Pryce', '', '', 1947, None),
 ('nm0000980', '', 'Jim', '', 'Broadbent', '', '', 1949, None),
 ('nm0001097', '', 'Charles', '', 'Dance', '', '', 1946, None),
 ('nm0001290', '', 'Richard', 'E.', 'Grant', '', '', 1957, None),
 ('nm0001354', '', 'Ciarán', '', 'Hinds', '', '', 1953, None),
 ('nm0001671', '', 'Diana', '', 'Rigg', '', '', 1938, 2020),
 ('nm0002103', '', 'Julian', '', 'Glover', '', '', 1935, None),
 ('nm0004355', '', 'Roger', '', 'Ashton-Griffiths', '', '', 1957, None),
 ('nm0004692', '', 'Mark', '', 'Addy', '', '', 1964, None)]

## primaryProfession

The common technique for handling multi-valued attributes is to create a second table with an entry for each value
and a foreign key to the original table. The following SQL DDL creates two tables:
1. ```valid_professions``` contains the allowed value for ```primaryProfession.``` If there were a few allowed values, we could use an ```ENUM.``` Since there are many, we use a "lookup table."
2. ```nconst_professions``` is an associative entity between a ```name_basics_fixed``` and the ```professions.```

In [ ]:
%%sql

use f24_project;


drop table if exists f24_project.nconst_profession;
drop table if exists f24_project.valid_professions;


create table if not exists f24_project.valid_professions
(
    profession_id    int auto_increment
        primary key,
    profession_label varchar(32) not null,
    constraint valid_professions_pk
        unique (profession_label)
);

create table if not exists f24_project.nconst_profession
(
    nconst        varchar(16) not null,
    profession_id int         not null,
    primary key (nconst, profession_id),
    constraint nconst_profession_name_basics_fixed_nconst_fk
        foreign key (nconst) references f24_project.name_basics_fixed (nconst),
    constraint nconst_profession_valid_professions_profession_id_fk
        foreign key (profession_id) references f24_project.valid_professions (profession_id)
);

In the cells below, you must load ```valid_professions``` and ```nconst_profession.```

__You must use SQL. You cannot use python, Pandas, ... ...__

Your SQL can assume that there are at most 3 primaryProfessions. The following SQL validates the assumption.

In [21]:
%%sql

with one as (
    select
        primaryProfession,
        replace(primaryProfession, ",", "") as without_delimmeter,
        (length(primaryProfession) - length(replace(primaryProfession, ",", "")) + 1) as no_of_professions
    from name_basics
)
select * from one order by no_of_professions desc limit 10;

 * mysql+pymysql://root:***@localhost?local_infile=1
10 rows affected.

[('actor,director,writer', 'actordirectorwriter', 3),
 ('actor,composer,soundtrack', 'actorcomposersoundtrack', 3),
 ('actor,music_department,soundtrack', 'actormusic_departmentsoundtrack', 3),
 ('actor,writer,producer', 'actorwriterproducer', 3),
 ('actor,writer,archive_footage', 'actorwriterarchive_footage', 3),
 ('actor,producer,archive_footage', 'actorproducerarchive_footage', 3),
 ('actress,director,writer', 'actressdirectorwriter', 3),
 ('actor,visual_effects,miscellaneous', 'actorvisual_effectsmiscellaneous', 3),
 ('actor,miscellaneous,archive_footage', 'actormiscellaneousarchive_footage', 3),
 ('actor,writer,producer', 'actorwriterproducer', 3)]

In [ ]:
%%sql

/*
    TODO Student -- Put your SQL below.
*/

In [ ]:
%%sql

/*
    TODO Student -- Put your SQL below.
*/

Now we can do a little test.

In [22]:
%%sql

with one as (
    select
        *
    from
        name_basics_fixed join nconst_profession using(nconst)
),
    two as (
        select nconst, profession_id from name_basics_fixed join nconst_profession using(nconst)
    ),
three as (
    select two.nconst, group_concat(profession_label) as
        all_professions from two join valid_professions using(profession_id) group by nconst
    )
select nconst, primaryProfession, three.all_professions from three join name_basics using(nconst)
    order by nconst
limit 20;

 * mysql+pymysql://root:***@localhost?local_infile=1
20 rows affected.

[('nm0000293', 'actor,producer,animation_department', 'actor,animation_department,producer'),
 ('nm0000596', 'actor,producer,soundtrack', 'actor,producer,soundtrack'),
 ('nm0000980', 'actor,writer,producer', 'actor,producer,writer'),
 ('nm0001097', 'actor,producer,director', 'actor,director,producer'),
 ('nm0001290', 'actor,director,writer', 'actor,director,writer'),
 ('nm0001354', 'actor,soundtrack,archive_footage', 'actor,archive_footage,soundtrack'),
 ('nm0001671', 'actress,costume_department,costume_designer', 'actress,costume_designer,costume_department'),
 ('nm0002103', 'actor,soundtrack,archive_footage', 'soundtrack,archive_footage,actor'),
 ('nm0004355', 'actor,writer,director', 'writer,director,actor'),
 ('nm0004692', 'actor,music_department,soundtrack', 'soundtrack,music_department,actor'),
 ('nm0015382', 'actor,director,writer', 'actor,director,writer'),
 ('nm0019885', 'actor,producer,soundtrack', 'actor,producer,soundtrack'),
 ('nm0050520', 'actor,miscellaneous', 'miscellaneous,actor'),
 ('nm0050959', 'actor,producer,soundtrack', 'actor,producer,soundtrack'),
 ('nm0057965', 'actor,miscellaneous', 'actor,miscellaneous'),
 ('nm0064155', 'actor,director,writer', 'director,writer,actor'),
 ('nm0065874', 'actor,archive_footage', 'archive_footage,actor'),
 ('nm0072855', 'actor', 'actor'),
 ('nm0087432', 'actor,archive_footage', 'archive_footage,actor'),
 ('nm0103195', 'actor,location_management,soundtrack', 'actor,location_management,soundtrack')]

## knownForTitles

I think you have had enough fun with ```name_basics``` for now.

## title_basics

We can find the mapping of actors to shows using ```name_basics_fixed, title_principals``` and ```title_nasics.``` 

For bringing together some interesting information, we are not going to be concerned about some of the fields.

The following script does the subsetting and cleanup for you so that you do not need to do so.

In [ ]:
%%sql

drop table if exists title_principals_fixed;
drop table if exists title_basics_fixed;

/* 
    Create the fixed title_principals_fixed as just the columns that interest us.
*/
create table title_principals_fixed as select distinct nconst, tconst from title_principals;

/*
    Add a primary key to ensure we only connect a name_basics_fixed to a title_basics_fixed one time. 
*/
alter table title_principals_fixed
    modify nconst varchar(16) null;
alter table title_principals_fixed
    modify tconst varchar(16) null;
alter table title_principals_fixed
    add constraint title_principals_fixed_pk
        primary key (nconst, tconst);

/*
    Creating the primary key gives us an index for joining with name_basics_fixed.
    Add an index for joining with title_basics_fixed
*/
create index title_principals_fixed_tconst_index
    on title_principals_fixed (tconst);

/*
    Get the interesting columns from title_basics
*/
create table title_basics_fixed as
    select tconst,
           primaryTitle as primary_title,
           originalTitle as original_title,
           startYear as start_year,
           endYear as end_year,
        runtimeMinutes as runtime_minutes
    from title_basics;

/*
    Set a primary key.
*/
alter table title_basics_fixed
    modify tconst varchar(16) null;
alter table title_basics_fixed
    add constraint title_basics_fixed_pk
        primary key (tconst);

/*
    Change the doubles to int. We loaded with Pandas which maps numbers to doubles.
*/
alter table title_basics_fixed
    modify start_year int null;
alter table title_basics_fixed
    modify end_year int null;

/*
    Add foreign keys in the associative entity.
*/
alter table title_principals_fixed
    add constraint title_principals_fixed_title_basics_fixed_tconst_fk
        foreign key (tconst) references title_basics_fixed (tconst);
alter table title_principals_fixed
    add constraint title_principals_fixed_title_basics_fixed_nconst_fk
        foreign key (nconst) references name_basics_fixed (nconst);

/*
    If I got that correct, it was a miracle.
*/

# Game of Thrones

## Overview

In IMDB, we know which actors were in which "episodes."


In the load of MongoDB we have information about episodes.


Let's build a table of the form:
- ```tconst, primary_title``` from ```title_basics_fixed```
- ```seasonNum, episodeNum``` from ```episodes``` in MongodDB.


You will do this in 3 steps.
1. Create a temporary table ```got_episodes``` in MySQL of the form ```tconst, seasonNum, episodesNum``` getting information from your MongoDB database.<br><br>
3. Create a table ```got_imdb_title_basics``` by joining ```title_basics_fixed``` and the temporary table.<br><br>
4. Do some cleanup of the resulting table.

## Temporary Table ```got_episodes```

The first step is to write an aggregation. Your data loading notebook had an example.

Let's refresh our MongoDB connection and then write the aggregation. You implement your aggregation below.

To help, here is my answer.

| <img src="aggregation_1.jpg"> |
| :---: |
| __GoT Episode Summary__ |

In [ ]:
mongo_client = pymongo.MongoClient(mongo_db_url)

In [ ]:
# TODO Student -- Write your aggregation here. See below to see what the answer looks like.
#
# Aggregation pipeline
#
pipeline = [
]

# Execute the aggregation pipeline
result = mongo_client.f24_project_got.episodes.aggregate(pipeline)

In [ ]:
# Load into a dataframe and show your result.
#
result_df = pandas.DataFrame(list(result))
result_df

In [ ]:
# Save in the temporary table.
#
result_df.to_sql(
    "got_episodes", schema="f24_project", if_exists="replace", index=False, con=default_engine
)

In [ ]:
%sql select * from f24_project.got_episodes;

In [ ]:
%%sql

create table got_episode_title_basics as
select
    tconst, primary_title, season_num, 
    episode_num, episode_title
from got_episodes join title_basics_fixed using(tconst)

In [ ]:
%sql select * from got_episode_title_basics

We can now create a view to show us how IMDB and GoT data align on some information.

In [ ]:
%%sql

drop view if exists got_names_episodes;

create view got_names_episodes as 
with one as  (
    select * from got_episode_title_basics join title_principals_fixed using(tconst)
)
select
    nconst, first_name, last_name,
    tconst, season_num, episode_num, episode_title
from one join name_basics_fixed using(nconst);

In [23]:
%sql select * from got_names_episodes limit 10

 * mysql+pymysql://root:***@localhost?local_infile=1
10 rows affected.

[('nm0000293', 'Sean', 'Bean', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0004692', 'Mark', 'Addy', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0182666', 'Nikolaj', 'Coster-Waldau', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0265610', 'Michelle', 'Fairley', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0322513', 'Iain', 'Glen', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0372176', 'Lena', 'Headey', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm0516003', 'Harry', 'Lloyd', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm1414435', 'Robert', 'Sterne', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm3229685', 'Kit', 'Harington', 'tt1480055', 1, 1, 'Winter Is Coming'),
 ('nm3592338', 'Emilia', 'Clarke', 'tt1480055', 1, 1, 'Winter Is Coming')]

# Neo4j

## Overview

Neo4j is a graph database. Graph databases are excellent for "networks" of "social connections." Those of you who have watched Game of Thrones know that the social connections can be a little unsettling. The connections between characters are in the characters collection. Let's take a look at an example. ```Sansa Stark``` has quite a few connections.

In [ ]:
result = mongo_client.f24_project_got.characters.find({"characterName": "Sansa Stark"})

In [ ]:
result = list(result)

In [ ]:
result[0]

Some attributes a simple properties and some are a list of related characters. In this document,
- ```characterName, houseName, characterImageThumb, characterImageFull, characterLink, actorName, actorLink,``` and ```royal``` are simple attributes.
- ```siblings, marriedEngaged, guardedBy,``` and ```parents``` are relationships.

This dataset is small and we can examine each document. In a very large dataset we would do some random sampling. The first step is to find the top level elements and their types. A relationship set is a list in these documents.

In [ ]:
result = mongo_client.f24_project_got.characters.find({}, {"_id": 0})
result = list(result)

simple_attributes = set()
list_attributes = set()

for r in result:
    for k,v in r.items():
        if type(v) == list:
            list_attributes.add(k)
        else:
            simple_attributes.add(k)

In [ ]:
simple_attributes

In [ ]:
list_attributes

Looking at the attribute names provides condidence that we know the simple and relationship attributes. We want to create list of relationships of the form: ```(source_character, relationship_type, target_character).``` We will temporarily create a table in the relational database and then add to Neo4j.

__Note:__ We will ignore ```actors``` because we already loaded the information and it is a list of documents."

In [ ]:
fixed_list_attributes = [l for l in list_attributes if l != 'actors']
list_attributes = fixed_list_attributes
list_attributes

In [ ]:
# TODO Students must implement this function.
#
# Hint: Use an aggregation and unwind operator.
#
def get_relationship(the_collection, relationship_attribute):

    the_aggregation = [
        
    ]

    result = the_collection.aggregate(the_aggregation)
    result = list(result)
    return result

In [ ]:
# This is a simple test of calling your function with "killed"
# My answer is below this test cell.
#
result = get_relationship(mongo_client.f24_project_got.characters, "killed")
result_df = pandas.DataFrame(result)
result_df

| <img src="killed.jpg"> |
| :---: |
| __Killed Relationship Example__ |

The following code will produce and save a table of relationships.

In [ ]:
all_relationships = []

for r in list_attributes:
    result = get_relationship(mongo_client.f24_project_got.characters, r)
    all_relationships.extend(result)

for a in all_relationships:
    if type(a.get("targetCharacter", None)) != str:
        print("Oops", a)


all_relationships_df = pandas.DataFrame(all_relationships)
all_relationships_df

In [ ]:
all_relationships_df.to_sql(
    "temp_relationships", schema="f24_project",
    con=default_engine, index=False, if_exists="replace"
)

We are not quite done, because remember that we added character IDs when we loaded the original data. We want to use the IDs when adding relationships to the Neo4j data. 


In the cell below, write a Neo4j cypher query that returns the ```characterName``` and ```character_id.```

In [ ]:
# Student TODO
#
neo4j_q = """
    match (c:Character:IMDB) return c.character_id as character_id, 
                                    c.characterName as characterName
                                    order by c.characterName
"""

The following cell is a simple test.

In [ ]:
with GraphDatabase.driver(URI, auth=AUTH) as driver:
    q = neo4j_q + " limit 4"

    records, summary, keys = driver.execute_query(
        q
    )

If you do not get an error, the following code cell will produce a result to versify the test. My answer to the test is:

| <img src="neo_test_1.jpg" > |
| :---: |
| __Simple Neo4j Test Result__ |

In [ ]:
for r in records:
    print(dict(r.items()))

We will load this into a temporary table and use a ```JOIN``` to get a table of relationships.

In [ ]:
with GraphDatabase.driver(URI, auth=AUTH) as driver:
    q = neo4j_q

    records, summary, keys = driver.execute_query(
        q
    )

neo4j_characters = [dict(r.items()) for r in records]
neo4j_characters_df = pandas.DataFrame(neo4j_characters)

In [ ]:
neo4j_characters_df.to_sql(
    "neo4j_characters", schema="f24_project",
    con=default_engine, index=False, if_exists="replace"
)

In [ ]:
# TODO Test the insert. My code example result follows.
#
%sql select * from neo4j_characters

| <img src="neo_characters_sql.jpg" > |
| :---: |
| __Neo4j SQL Test Result__ |

You have had as much SQL fun as you can have for one HW. So, I will do the join for you.

OK. So, I used a subquery. Sue me. I used the ```min()``` function because we accidentially loaded some duplicates.

Dirty data in data engineering is part of the "fun."

| <img src="fun.jpg" width="700px;"> |
| :---: |
| __Data Engineering is Fun!__

In [ ]:
%%sql

select
    (select min(character_id) from neo4j_characters where characterName=temp_relationships.sourceCharacter)
        as source_character_id,
    sourceCharacter,
    relationship_type,
    (select min(character_id) from neo4j_characters where characterName=temp_relationships.targetCharacter)
        as target_character_id,
    targetCharacter
from
    temp_relationships;

The result of my query is 

| <img src="relationships_2_load.jpg"> |
| :---: |
| __Data Engineering is Fun!__

This is where things get really fun. We will load the relationships into Neo4j.

Write a Cypher query that creates the relationships with a label of the form "xxx" where "xxx" is the relationship_type. 

To test and debug, you can
1. Set ```source_character_id``` and ```target_character_id``` in the cell below.
2. Run the cell to get your query.
3. Copy and paste into the Neo4j console.
4. Run the query and examine the result.

My result looks like.

| <img src="neo4j_screen_1.jpg" > |
| :---: |
| __Neo4j Test Result Screen__ |

In [ ]:
# TODO Student -- Set you query below.
#
source_character_id= "ch_4"
target_character_id= "ch_45"
relationship_type="parentOf"

create_relationship_q = f"""

"""

# Print the query to copy.
#
print(create_relationship_q)

Now the fun really begins. Super fun. The following query gets the information that will drive loading.

In [ ]:
%%sql

info_to_load << select
    (select min(character_id) from neo4j_characters where characterName=temp_relationships.sourceCharacter)
        as source_character_id,
    sourceCharacter,
    relationship_type,
    (select min(character_id) from neo4j_characters where characterName=temp_relationships.targetCharacter)
        as target_character_id,
    targetCharacter
from
    temp_relationships;

In [ ]:
info_to_load = [r for r in info_to_load.dicts()]

In [ ]:
info_to_load

In [ ]:
# TODO Student -- You will use the loop below and your query to load the information.
# TODO Student -- Put your query from above in the code below.
#
with GraphDatabase.driver(URI, auth=AUTH) as driver:

    for r in info_to_load:
        source_character_id= r['source_character_id']
        target_character_id= r["target_character_id"]
        relationship_type=r["relationship_type"]

        # We should skip the houseName because we loaded that by accident.
        # There are some target characters that were NOT in the original list of characters.
        #
        if relationship_type != 'houseName' and target_character_id is not None:

            # TODO Student -- Put your query here.
            create_relationship_q = f"""
               
                """
    
            records, summary, keys = driver.execute_query(
                create_relationship_q
            )
        
            if summary.counters.relationships_created != 1:
                print("Oops. Could not create", r)

An example of what things look like after the execution is below

| <img src="neo4j_screen_2.jpg"> |
| :---: |
| __Arya Stark and Friends__ |

# This is Where the Magic Happens

Done with homework 3b. And, now on to the final homework.

| <img src="the_magic.jpg"> |
| :---: |
| __Time to Make the Magic Happen__ |